html {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Your CSS below here */

  div{
    width: 200px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

